html {
    background: white;
}
.header-container {
    background: url("../resources/assets/img/dev/devgradientbackground.png");
    background-size: cover;
    background-position: center;
}

.heading {
    color: white;
}
.subheading {
    color: white;
}

.motto {
    color: white;
}
.devProjects {
    padding: 5rem;
}
.card {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 400px;
    margin: 2rem 0rem;
    border-radius: 3rem;
    border: 3px solid rgb(138, 138, 138);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.329);
    overflow: hidden;

    display: flex;
    align-items: center;
}
.img-container {
    width: 50vh;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
        filter: brightness(0.75);
    }
}
.img-container:hover {   
    cursor: pointer;
}
.viewProject {
    color: black;
    background: white;
    padding: 10px 20px;
    border-radius: 1rem;
    // border: 2px solid black;
    font-weight: 600;
    // display: none;

    position: absolute;
    z-index: 2;
}
.card-content {
    padding: 4rem;
    width: 50%;
    height: auto;
}
.card-content h1 {
    font-size: 30pt;
}
.card-content p {
    font-size: 12pt;
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        height: auto;
    }
    .card-content {
        width: auto;
        padding: 3rem;
    }
    .img-container {
        height: 30vh;
    }

}
// #img-1 {
//     background-image: url("../resources/assets/img/dev/deltapythonadvancedscreenshotcropped.jpg");
//     background-size: cover;
//     background-position: top;
// }

// #img-2 {
//     background-image: url("../img/graphicdesign/allamoda.png");
// }
// #img-3 {
//     background-image: url("../img/graphicdesign/gelato.png");
//     background-size:contain;
// }