html, body {
  height: 100%;
  width: 100%;
  overflow-y: overlay;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
  font-family: 'Poppins', sans-serif;
}

body {
  display: block;
}

h1, h2, h3, h4, h5, li, ul, ol {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.header-container {
  height: 100vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1645088520336-62d94324e869?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-nav {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2rem;
}

.heading {
  font-size: 30pt;
  font-weight: 800;
}

.subheading {
  font-size: 18pt;
  font-weight: 500;
}

/* -------- NavBar --------- */
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  min-width: 50%;
}

.nav-list li {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: white;
  font-weight: 600;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav a {
  margin: 0 2rem;
}

/* Underline styles */
nav li {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

/* Fade in */
nav li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

nav li:hover::after,
nav li:focus::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0.2em, 0);
          transform: translate3d(0, 0.2em, 0);
}

nav li {
  overflow: hidden;
}

nav li::after {
  opacity: 1;
  -webkit-transform: translate3d(-101%, 0, 0);
          transform: translate3d(-101%, 0, 0);
}

nav li:hover::after,
nav li:focus::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* -------------- Header Styling -------------- */
header {
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 3rem;
  padding-bottom: 6rem;
  position: relative;
}

.header-title {
  font-size: 50pt;
  font-weight: 800;
  height: 5rem;
}

.job-title {
  font-size: 15pt;
  margin: 0;
  letter-spacing: 5px;
}

.blurb {
  width: 80%;
  font-size: 18pt;
}

/* -------------- Summary -------------- */
.summary {
  background-color: white;
  height: 60vh;
  padding: 3rem 0;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.summary .heading {
  margin-bottom: 3rem;
}

.card {
  width: 30vw;
  height: 25vh;
  background-color: #bebebe;
  border-radius: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  color: black;
}

.card .subtitle {
  font-size: 15pt;
  font-weight: 600;
  margin-bottom: 10px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 15pt;
}

.categories h2 {
  font-size: 18pt;
  font-weight: 700;
}

.categories li {
  list-style-type: disc;
}

.categories ul {
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.gallery {
  padding: 2rem;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

img {
  width: 100%;
  height: auto;
}

.dream {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 32.5%;
}

.dream img, .galleryVideo {
  width: 100%;
  padding: 0.5rem;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.gallery img:hover, .galleryVideo:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  cursor: pointer;
}

/*
 *  STYLE 1
 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #ff000000;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #afafaf;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
/*# sourceMappingURL=styles.css.map */