html, body {
    height: 100%;
    width: 100%;
    // overflow: hidden;
    overflow-y: overlay;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    font-family: 'Poppins', sans-serif;
}
body {
  display: block;
}
h1, h2, h3, h4, h5, li, ul, ol {
    margin: 0;
    padding: 0;
}
a { 
    color: inherit;
    text-decoration: none;
}
ul, li {
    list-style: none;
}
.header-container {
    height: 100vh;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1645088520336-62d94324e869?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
}
.main-nav {
    height: 10vh;
    width: 100%;
    // background-color: rgba(255, 0, 0, 0.281);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
    padding: 0 2rem;
}
.heading {
  font-size: 30pt;
  font-weight: 800;
}
.subheading {
  font-size: 18pt;
  font-weight: 500;
}

/* -------- NavBar --------- */

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    min-width: 50%;
    li {
        flex-wrap: nowrap;
        color: white;
        font-weight: 600;
    }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  margin: 0 2rem;
}

/* Underline styles */
nav li {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

/* Fade in */
nav li::after {
content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

nav li:hover::after,
nav li:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}


nav li {
  overflow: hidden;
}

nav li::after {
opacity: 1;
transform: translate3d(-101%, 0, 0);
}

nav li:hover::after,
nav li:focus::after{
transform: translate3d(0, 0, 0);
}
/*-----------------------*/
/* MOBILE NAVIGATION */
.menunavigation {
  position: absolute;
}
.menunavigation {
  margin: 0;
  padding: 0;
  background: hsl(0, 100%, 26%);
  color: hsl(0, 100%, 26%);
  /*font-family: "Avenir Next", "Avenir", sans-serif;*/
}
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 30px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: hsl(191, 100%, 26%);
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2; 

  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: white;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  height: 200vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0px 0px;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  display: block;
}
#menu li {
  padding: 25px 0;
  font-size: 22px;
  font-weight: 700;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

.mobilelogo {
  position: relative;
  float: right;
  padding-top: 15px;
  padding-right: 50px;
  color: white;
}
@media (max-width: 767px)  {
  .vetzulogomobile {
      padding-top: 44px;
      padding-right: 30px;
  }
  .vetzulogomobile img{
      height: 30px;
      width: auto;
  }
}
/*--------------*/
/*-------------- Nav Responsiveness -------------*/

@media screen and (min-width: 993px) {
  .mobilenavigation {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .main-nav {
    display: none;
  }
}

/* -------------- Header Styling -------------- */

header {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem;
  padding-bottom: 6rem;
  position: relative;
}
.header-title {
  font-size: 50pt;
  font-weight: 800;
  height: 5rem;
}

.job-title {
  font-size: 15pt;
  margin: 0;
  letter-spacing: 5px;
}

.blurb {
  width: 80%;
  font-size: 18pt;
}

@media screen and (max-width: 768px) {
  header { 
    justify-content: center;
    padding: 2rem;
  }

  .header-title {
    height: auto; 
    line-height: 90%;
    font-size: 25pt;
  }
}
/* -------------- Summary -------------- */

.summary {
  background-color: rgb(255, 255, 255);
  height: auto;
  padding: 3rem 0;
  .heading {
    margin-bottom: 3rem;
  }
  filter: invert(1);
}
.card {
  width: 30vw;
  height: 25vh;
  background-color: rgb(190, 190, 190);
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 1rem;
  color: rgb(0, 0, 0);
  
  .subtitle {
    font-size: 15pt;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
.categories {
  display: flex;
  justify-content: space-around;
  font-size: 15pt;
  h2 {
    font-size: 18pt;
    font-weight: 700;
  }
  li {
    list-style-type: disc;

  }
  ul {
    padding-inline-start: 40px;
  }
}
@media screen and (max-width: 992px) {
  .summary {
    padding-left: 1rem;
  }
  .categories {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
  }
  .header-title {

  }
}
// /*------- Global Gallery -------*/

.gallery {
  padding: 2rem;
}
.box {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}

img {
  width: 100%;
  height: auto;
}

.dream {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 32.5%;
}
.dream img, .galleryVideo {
  width: 100%;
  padding: 0.5rem;

  transition: transform 0.3s ease-in-out;
}
// In order to make the padding consistent,
// I will remove padding from the first and
// last columns so that headings will be
// in line with the images

// #dream1 img{
//   padding-left: 0;
// }
// #dream2 img{
//   padding-right: 0;
// }

.gallery img:hover, .galleryVideo:hover{
  transform: scale(0.99);
  cursor: pointer;
}
// Scrollbar Styling

/*
 *  STYLE 1
 */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #ff000000;
}
 
::-webkit-scrollbar {
  width: 5px;
  background-color: #afafaf;
}
 
::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

// Containers Creation

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}