* {
    font-family: 'Inter', sans-serif;
}
:root {
    --main: #000000;
	--foreground: rgb(255, 255, 255);
    --hori: rgb(255, 255, 255);
}
i {
	// margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/


.navbar-logo{
	padding: 15px;
	color: #fff;
    
    font-weight: 700;
    letter-spacing: -1px;
}
.navbar-logo:hover {
    color: rgb(180, 180, 180);
}
.navbar-mainbg{
	background-color: var(--main);
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;

    display: flex;
    justify-content: flex-end;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: var(--main);
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: var(--hori);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: var(--hori);
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main);
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
        width: 100vw;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}
/*----------- Card styling ------------------*/

.card-rounded {
    border-radius: 2rem;
}
/*----------- Load Animations ----------------*/

a {
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}


/*-----------  Useless but cool logo animation that will stay on the navbar  ------------*/
nav h1 {
    font-size: 35pt;
    /* Fallback color. */
    background-color: #7142df;
    /* Gradient Creation */
    background-image: linear-gradient(-45deg, #fbf8ccff, #fde4cfff, #ffcfd2ff, #f1c0e8ff, #cfbaf0ff, #a3c4f3ff, #90dbf4ff, #8eecf5ff, #98f5e1ff, #b9fbc0ff);
    background-size: 300% 300%;
    -webkit-animation: gradient 5s ease infinite;
            animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: brightness(0.95) saturate(3);
}  

.logo-container {
    position: relative;
    height: auto;
}
/* Makes it so it goes faster when hovered on */
nav h1:hover {
    -webkit-animation: gradient 1s ease infinite;
    animation: gradient 1s ease infinite;
}
.logo {
    top: -32px;
    position: absolute;
    z-index: 1;
    text-shadow: rgba(5, 5, 5, 0.185) 0 0 30px;
}
.logoblur {
    top: -32px;
    position: absolute;
    z-index: 0;

    filter: blur(10px);
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/*-----------------------*/


.header {
    height: 80vh;
    /*
    background-image: url('./img/iredescenttapei.jpg');
    background-size: cover;
    background-position: 0px 1800px;
    filter: brightness(0.9); */

        
    background-image: url('./img/photo/IMG_0975.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.9);

    color: white;
}

.header .heading {
    position: absolute;
    left: 3rem;
    bottom: 6rem;
}

.header h1 {
    font-size: 50pt;
    letter-spacing: -5px;
    font-weight: 700;
    text-shadow: rgb(39, 39, 39) 0 0 30px;
}
.header h3 {
    font-size: 20pt;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    margin-top: -10px;
}


/*------- Category Section-------*/

.categories {
    box-sizing: border-box;
    padding: 5rem 10rem 10rem 10rem;
}

.categories .heading {
    margin-top: 0px;
}

.cat-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
}

.cat-container div{
    
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.103);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    color: white;
    font-size: 30pt;
    font-weight: 600;
    position: relative;
    height: 600px;
}
.cat-container div p {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    text-shadow: 2px 2px 10px #000000;
    color: white;
}

.cat-container div:hover {
    filter: brightness(0.8);
}
  
.visualart {
    grid-column: 1;
    grid-row: 1 / 7;

    position: relative;
    overflow: hidden;
}
.backvideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.photography {
    grid-column: 2; 
    grid-row: 1 / 7;

    background: url('img/photo/IMG_0755.png');
    background-size: cover;
    background-position: center;
}
.graphicdesign {
    grid-column: 3;
    grid-row: 1 / 7;

    background: url('img/graphicdesign/continous\ outline\ effect\ person.png');
    background-size: cover;
    background-position: center;
}


@media screen and (max-width: 992px) {
    .cat-container {
        display: block;
    }
    .cat-container div {
        margin-bottom: 30px;
    }
}