.visualart {
  .header-container {
    background: url("../../resources/assets/img/visualart/visualgradientbackground.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .heading {
    color: white;
  }
  
  .subheading {
    color: white;
  }
}