.dev {
  background-color: white;
  height: 100%;
  width: 100%;
  background: url("../../resources/assets/img/dev/devbackground.jpeg");
  backdrop-filter: brightness(0.8);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;

  .header-container {
    // background: url("../../resources/assets/img/dev/blue3dgradient.jpg");
    // background-size: cover;
    // background-position: center;
    height: 100%;
    width: 100%;
  }
  .mobilenav {
    z-index: 10000000;
  }

  .heading {
    color: white;
  }

  .subheading {
    color: white;
  }

  .motto {
    color: white;
  }

  .devProjects {
    padding: 5rem;
  }
  @media screen and (max-width: 992px) {
    .devProjects {
      padding: 2rem;
      margin-top: 5rem;
    }
  }
  .card {
    // background-color: white;
    color: white;
    backdrop-filter: blur(20px);
    width: auto;
    height: 400px;
    margin: 2rem 0rem;
    border-radius: 3rem;
    border: 1.5px solid #eeeeee67;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.329);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.329);
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .img-container {
    width: 50vh;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }

  .img-container img {
    -webkit-filter: brightness(0.75);
    filter: brightness(0.75);
  }

  .img-container:hover {
    cursor: pointer;
  }

  .viewProject {
    color: black;
    background: white;
    padding: 10px 20px;
    border-radius: 1rem;
    font-weight: 600;
    position: absolute;
    z-index: 1;

    box-shadow: 0 0 50px 16px rgb(0 0 0 / 16%);

    &:hover {
      box-shadow: 0 0 120px 30px rgb(0 0 0 / 16%);
    }
  }

  .card-content {
    padding: 4rem;
    width: 50%;
    height: auto;

    a {
      text-decoration: underline;
      margin-top: 1rem;
      &:hover {
        color: grey;
      }
    }
  }

  .card-content h1 {
    font-size: 30pt;
  }

  .card-content p {
    font-size: 12pt;
  }

  .overflowStyling {
    background-color: transparent;
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto;
    }
    .card-content {
      width: 100%;
      padding: 3rem;
      box-sizing: border-box;
    }
    .card-content img {
      height: 100%;
      width: auto;
    }
    .img-container {
      height: 30vh;
      width: 100%;
    }
  }

  @media screen and (min-width: 769px) {
    .img-container img {
      height: 100%;
      width: auto;
    }
  }

  @media screen and (max-width: 1190px) {
    .card-content {
      padding: 2rem;
    }
    .card-content h1 {
      font-size: 20pt;
    }
    .card-content p {
      margin: 0;
      font-size: 11pt;
    }
  }
  /*# sourceMappingURL=dev.css.map */
}

#img-1 {
  background: url("../../resources/assets/img/dev/youareelscreenshot.png");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}
#img-2 {
  background: url("../../resources/assets/img/dev/translangscreenshot.png");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}
#img-3 {
  // background: url("../../resources/assets/img/dev/ticketscreenshot.png");
  background: url("https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}
#img-4 {
  background: url("../../resources/assets/img/dev/thiswebsite.png");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}
#img-5 {
  background: url("../../resources/assets/img/dev/deltacropped.jpg");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}

#paw-img {
  background: url("../../resources/assets/img/dev/pawwpetshop-screenshot.png");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}

#delta-img {
  background: url("../../resources/assets/img/dev/delta-screenshot.png");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}
#vetzu-img {
  background: url("../../resources/assets/img/dev/vetzu-screenshot.png");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}
#amjad-img {
  background: url("../../resources/assets/img/dev/amjad-screenshot.png");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}

#ngoku-img {
  background: url("../../resources/assets/img/dev/ngoku-screenshot.png");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}