.photo {
    .header-container {
        // background: url("../../resources/assets/img/gradientbackground.jpg");
    }
    .gallery {
        color: white;
    }
    
    @media (max-width: 768px) {
        .gallery {
            padding: 2rem;
            margin-top: 4rem;
        }
        .box {
            flex-direction: column;
        }
        .dream {
            width: auto;
        }
    }
}